<connectionStrings>
  <add name="PyramidAFMConnection"
       connectionString="Data Source=pyramidstaffingsqlserver.database.windows.net;Initial Catalog=PyramidStaffingDbProd;User id=dbadmin;password=pyramid@123;MultipleActiveResultSets=True;App=EntityFramework" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
