<appSettings>
  <add key="XMLStoragePath" value="MockXmlStorage"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="owin:AutomaticAppStartup" value="false"/>
  <add key="AuthorizationTokenKeyName" value="PyramidTokenHeader"/>
  <add key="CacheDurationInMinutes" value="120"/>
  <add key="SessionTimeoutInMinutes" value="540"/>
  <add key="EnableUserImpersonationForTest" value="yes"/>
  <add key="PropagateErrorDetailToClient" value="yes"/>
	<add key="Environment" value="DEV"/>
  <add key="SotfSampleFilePath" value="Artifacts/SampleDocuments/SOTFDataChange.csv"/>
  <add key="OtcSampleFilePath" value="Artifacts/SampleDocuments/OTCTradeData.csv"/>
  <add key="EmailPassword" value=""/>
  <add key="ApiAuthorizationToken" value="bjNlZDF1VjR1bWpnTDJUcEd0c2pBc0VQZXN2STloUDZ2YU1HcFRmMjFRZz06SXJhYmFudGFjOjYzNjM1MDM4MTY5OTk2NzI0MA==98765"/>
  <add key="UseLDAPAuthentication" value="false"/>
  <add key="LDAPConnection" value="DC=pyramidconsultinginc,DC=com"/>
  <add key="LDAPDomain" value="PYRAMIDINDIA"/>
  <add key="AutomationDashboardUrl" value="http://10.4.1.231:2000/dashboard"/>
  <!--<add key="BloombergAuthByUser" value="true"/>
  <add key="BloombergAuthOptions" value="AuthenticationMode=USER_AND_APPLICATION;ApplicationAuthenticationType=APPNAME_AND_KEY;AuthenticationType=OS_LOGON;"/>-->
</appSettings>
