<appSettings>
  <add key="XMLStoragePath" value="MockXmlStorage"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="owin:AutomaticAppStartup" value="false"/>
  <add key="AuthorizationTokenKeyName" value="PyramidTokenHeader"/>
  <add key="CacheDurationInMinutes" value="120"/>
  <add key="SessionTimeoutInMinutes" value="540"/>
  <add key="EnableUserImpersonationForTest" value="yes"/>
  <add key="PropagateErrorDetailToClient" value="yes"/>
	<add key="Environment" value="Debug"/>
  <add key="SotfSampleFilePath" value="Artifacts/SampleDocuments/SOTFDataChange.csv"/>
  <add key="OtcSampleFilePath" value="Artifacts/SampleDocuments/OTCTradeData.csv"/>
  <add key="EmailPassword" value=""/>
  <add key="log4net.Internal.Debug" value="true"/>
  <add key="UseLDAPAuthentication" value="false"/>
  <add key="PyramidIndiaLDAPConnection" value="DC=pyramidconsultinginc,DC=com"/>
  <add key="PyramidHydLDAPConnection" value="DC=pyramid,DC=com"/>
  <add key="PyramidUS_LDAPConnection" value="DC=pyramidci,DC=com"/>
  <add key="AutomationDashboardUrl" value="http://10.4.1.231:2000/dashboard"/>
</appSettings>
