<!--<connectionStrings>
  <add name="PyramidAFMConnection"
       providerName="System.Data.SqlClient" 
       connectionString="data source=H493N62\SQLEXPRESS;initial catalog=PyramidQA_FIA_DB;user id=sa;password=Pyramid123;Application Name=PyramidQAFramework;Integrated Security=true" />
</connectionStrings>-->

<connectionStrings>
  <add name="PyramidAFMAConnection" providerName="MySql.Data.MySqlClient"
connectionString="server=10.4.5.169;port=3306;database=pyramid_afma_or_manager_dev_db;uid=afmt-devuser;password=Pyramid@123"/>
</connectionStrings>
<!--connectionString="server=10.4.5.169;port=3306;database=pyramid_afma_schema_entity_etl;uid=afmt-devuser;password=Pyramid@123"/>
pyramid_afma_or_manager_dev_db
pyramid_afma_qa_testing_etl
pyramid_afma_qa_testing_etl_2
pyramid_afma_development_database-->
